.bloggs{
    display: flex;
}

.blog-date{
    text-align: left;
    color:#2CAEE2;
}

.blog-title{
    text-align: left;
}
.blog-para{
    text-align: left;
}

.blog-button{
    width: 96px;
height: 30px;
left: 838px;
/* top: 7570px; */
/* margin-right: 15px; */
background: #2CAEE2;
border-radius: 62px;
color:white;
border:turquoise;
/* padding:3px; */
}

.blog-doc{
    text-align: left;
    color:#2CAEE2;
}