.picture{
    /* display: flex; */
    /* flex-basis: 21%; */
}

.health-banner{
    background-image: url(https://i.ibb.co/4Msd8wh/bg-1.png);
    /* margin-top: 60px; */
    /* background-image: url(../../../image/bg-1.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    /* position: absolute; */
    /* width: 579.33px; */
    /* height: 425.42px; */
    
}

.heading{
    /* position: absolute; */
/* width: 402px; */
height: 92px;
margin-left: 172px;
margin-top: 77px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 26px;
/* line-height: 44px; */

color: #333333;
}

.para{
    
/* position: absolute; */
/* width: 402px; */
/* height: 46px; */
margin-left: 162px;
/* margin-top: 127px; */

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 17px;
/* line-height: 28px; */
/* or 156% */


color: #333333;
}

.buttons{
    /* position: absolute; */
    width: 227px;
    height: 42px;
    /* margin-left: -106px; */
    margin-left: 112px;
    top: 416px;
    
    background: #2CAEE2;
    border-radius: 62px;
    border:cornflowerblue;
    
color: #FFFFFF;

}

.apping  {
    /* margin-top: 5px; */
    display: flex;
    margin-left: 212px;
    /* padding-right: 20px; */
}

.banners{
    background-image: url(https://i.ibb.co/2NfW5Pn/Vector-2.png);
    background-repeat: no-repeat;
    background-position: left;
    /* margin-left: -90px; */
}